/* styles.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Navbar styles */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* Form styles */
form {
  margin-bottom: 20px;
}

input[type="text"] {
  width: calc(100% - 80px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* ToDoList and DoneList styles */
h2 {
  margin-top: 30px;
  font-size: 20px;
  color: #333;
}

/* ToDoItem styles */
.todo-item {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item button {
  margin-left: auto;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: #d32f2f;
}

/* DateSelector styles */
label {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

input[type="date"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

/* DoneList styles */
.done-item {
  margin-bottom: 10px;
  color: #888;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.done-item span {
  text-decoration: line-through;
  color: #888;
}

/* Add button */
.addButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 6px;
  font-size: 16px;
  border-radius: 5px;
}

.addButton:hover {
  background-color: #45a049;
}

/* Delete button */
.deleteButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 20px;
  font-size: 12px;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: #d32f2f;
}


/* styles.css */

/* Previous Date button */
.prevDateButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin-left: 100%;
  margin-top: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.prevDateButton:hover {
  background-color: #0056b3;
}
